node_modules
.circleci
docs
packages/components/storybook-static
packages/functions/build
/hasura-schema.json
terraform

# ingore the build result.
packages/knowledge-base/.cache
packages/knowledge-base/public
packages/assess-base/.cache
packages/assess-base/public