node_modules
.circleci
docs
packages/components/storybook-static
packages/functions/build
/hasura-schema.json
terraform
packages/acme-edit/static/all.js

# ingore the build result.
packages/knowledge-base/.cache
packages/knowledge-base/public
